#wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url("./img/home_page.png");
        background-size: cover

}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
    margin: 0px;
    font-family: 'Roboto';
    text-align: center;
    background-image: url("./img/water.jpg");
    background-size: cover
}

#container {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding-top: 200px;
    position: fixed;
    width: 100%;
    bottom: 55%;
    display: block;
}

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #2ea6d1;
}

#flip div:first-child div {
    background: #2ea6d1;
}

#flip div:last-child div {
    background: #2ea6d1;
}

@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}



#signup-container {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 26px;
    padding-top: 200px;
    position: fixed;
    width: 100%;
    bottom: 45%;
    display: block;
}

button.home {
    color: #FFFFFF;
    background-color: #292D3E;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 40px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

button:hover.home {
    opacity: 1;
    color: #000000;
    background-color: #ffffff;
}

.text{
    font-family: monospace;
    font-size: 20px;
    width: 250px;
    color: #fff;
    overflow:hidden
}
.headerContainer{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    background-color: #483D8B;
}
.headerBox{
    text-align: right;
    float: right;
}
.taskbarContainer{
    display: flex;
    padding: 30px;
    justify-content: space-between;
     background-color: #483D8B;
}
.taskbarLeft{
    align-self: left;
    float: right;
}
.taskbarRight{
    align-self: right;
    float: right;
}
.headerElements{
    margin: 20px;
    font-family: monospace;
    font-size: 30px;
    color: #fff;
    text-decoration: inherit;
}
.modal {
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-container {
    position: absolute;
    width: 60%;
    background: #ffffff;
    left: 25%;
    top: 30%;
    padding: 20px;
  }
.homeConatiner{
    margin: 0px;
    font-family: 'Roboto';
    text-align: center;
    background-image: url("./img/home_page.png");
    background-color: Navy Blue;
    background-size: cover;
}
.loginContainer{
height: 10em;
position: relative;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

.registerContainer{
height: 10em;
position: relative;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

.aboutUsContainer{
height: 10em;
position: relative;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

.goalsContainer{
height: 10em;
position: relative;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

.settingsContainer{
height: 10em;
position: relative;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}
.editButtonContainer{
height: 10em;
position: relative;
margin: 0;
position: absolute;
top: 60%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}
